name: Release
on:
  push:
    branches:
      - master
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [15.x]
    permissions:
      id-token: write
      contents: write
      pull-requests: write
      issues: write
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false
          node-version: '14'
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
          token: ${{ secrets.GH_TOKEN }}
      - run: npm ci
      - run: npm run lint
      - run: npm test
      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v2.7.0
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        with:
          semantic_version: 17
          branches: |
            ['master']
          extra_plugins: |
            @semantic-release/git@9.0.1
            @semantic-release/changelog@5.0.1
